<title><%= @title %></title>

<div class="row text-center">
    <div class="col-12">
        <h1> <%= @banner_title %> </h1>
        
    </div>
</div>

<script>
    
    // Test Authentication for mobile app
    // postToAPI(`/api/auth_member/38/`, {"email":"aa", "password":"a"}).then( data=>{
    //     console.log(data);
    // });
   
    // Test add workout   
    // postToAPI(`/api/workouts/new/`, {"day":"2019-04-27",
    //                                 "title":"First Workout",
    //                                 "workout": "Workout  Bench 4x4  squat 3x5", 
    //                                 "user_id" : 36
    //                                 })
    // .then( data=>{
    //     console.log(data);
    // });
</script>
